<header class="py-4 mb-8 border-b">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/products" class="inline-block text-2xl text-gray-700">E-Kart</a>
    <nav>
      <ul class="flex justify-between items-center">
        <li>
          <a
            class="py-3 px-4 bg-sky-400 mx-4 rounded-sm text-white"
            href="/products"
            >Products</a
          >
        </li>
        <li>
          <a
            class="py-3 px-4 bg-sky-400 mx-4 rounded-sm text-white"
            href="/users/login"
            >User Login</a
          >
        </li>
        <li>
          <a
            class="py-3 px-4 bg-sky-400 mx-4 rounded-sm text-white"
            href="/users/register"
            >User Register</a
          >
        </li>
        <li>
          <a
            class="py-3 px-4 bg-sky-400 mx-4 rounded-sm text-white"
            href="/admins/login"
            >Admin Login</a
          >
        </li>
        <li>
          <a
            class="py-3 px-4 bg-sky-400 mx-4 rounded-sm text-white"
            href="/admins/register"
            >Admin Register</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
